# 환경 변수 및 가상환경
.env
venv/
env/
.venv/

# 파이썬 임시/캐시 파일
__pycache__/
*.py[cod]
*$py.class
*.pt
*.pth
*.pkl

# 주피터 노트북 설정 파일
.ipynb_checkpoints/

# 데이터 및 로그 파일
*.csv
*.xlsx
*.log
*.db
*.sqlite3

# OS 및 에디터 찌꺼기 파일
.DS_Store
.vscode/
.idea/